.header_home {
	background: #fff url(/assets/images/header-bg.png) no-repeat top right;
	background-size: 50% 100%;
}
.header {
	background: #222362 url(/assets/images/header-bg.png) no-repeat top right;
	background-size: 50% 100%;
}
